node_modules/
1000xRESIST/
\!distr/
*.png
*.exe
*.txt
*.bundle
*.json
*.xlsx
*.zip
*.log
*.htm
*.afphoto
*.psd
*.*lock*
.env
.venv
__pycache__
!package.json
!requirements.txt
!data/chapter-definitions.json
!data/I2.loc.typetree.json
*.assets
.DS_Store
